/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffbf00;
}

#template {
  display: none;
}

.container {
  margin: 40px auto 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

.quad {
  background-color: #353232;
  border: 2px solid #ffbf00;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s linear;
}

.green {
  background-color: #FFEB3B;
}

.yellow {
  background-color: #8bc34a;
}
